$bg: #fff;
$color: #000;
$dark10: #111113;
$dark9: #393939;
$dark8: #666666;
$dark7: #999999;
$dark4: #CCCCCC;
$dark3: #E5E5E5;
$dark2: #F2F2F2;
$dark1: #FCFCFC;
$whi: #fff;
$green: #76C174;
$error: #F44E4A;
$backgr70: rgba(17, 17, 19, 0.7);
$shadow-bg: #C4C4C4;
$box-shadow: 0px 28px 124px #DDD1CA;
