@font-face {
    font-family: 'apercu_pro';
    src: url('apercupro-regular-webfont.woff2') format('woff2'),
         url('apercupro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_pro';
    src: url('apercupro-bold-webfont.woff2') format('woff2'),
         url('apercupro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu_pro';
    src: url('apercupro-medium-webfont.woff2') format('woff2'),
         url('apercupro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'history_pro02';
    src: url('history_pro_02-webfont.woff2') format('woff2'),
         url('history_pro_02-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}